*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar-nav{
    display: flex;
    position: relative;
    right: 345px;
}
.no-outline{
    background-color:#d7d8d8;
}
.no-outline:focus {
  outline: none;
  box-shadow: 0 0 2px 3px gray
}
textarea:focus{
    outline: none;
}
.focus-y:focus{
    box-shadow: 0 0 0px 3px yellow
}
.log{
    margin-top: 10px;
}
.nav-link:focus{
    border: 1px solid black;
    border-radius: 7px;
}
.carousel-inner img {
    height:100vh;
    object-fit: cover; 
}
.border-dark{
    background-color: rgba(0, 0, 0, 0.220);
    height: 150px;
}
.x{
    width: 200px;
}
.icons{
    display: flex;
    justify-content: flex-end;
    margin-left: 180px;
}
i{
    font-size: 23px;
}
.accordion-button{box-shadow:none!important;background:none!important}
.card{
    position: relative;
    box-shadow: 0px 2px 10px 2px gray;
}
.card {
    position: relative;
    overflow: hidden;
}
.card::before {
    content:"";
    position:absolute;
    width:0;
    height:0;
    right:0;
    bottom:0;
    background:rgba(255,193,7,0.1);
    transition: all 0.8s ease;
    z-index:1;
}
.card::after {
    content:"";
    position:absolute;
    width:0;
    height:0;
    left:0;
    top:0;
    background:rgba(255,193,7,0.1);
    transition: all 0.8s ease;
    z-index:1;
}
.card:hover::before {
    width:100%;
    height:100%;
}
.card:hover::after {
    width:100%;
    height:100%;
}
.se{
    box-shadow: 0px 2px 10px 2px gray;
}
.object-fit-cover{
   margin-left:13px;
}
.carousel-item {
    height: 100vh;
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.carousel-caption {
    z-index: 10;
}
.c-img {
    position: relative;
    z-index: 1;
}
.carousel-control-prev,
.carousel-control-next,
.carousel-indicators {
    z-index: 20;
}
.carousel-inner {
    pointer-events: none;
}
.carousel-control-prev,
.carousel-control-next,
.carousel-indicators {
    pointer-events: auto;
}
